.Title {
  font-size: 2rem;
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
}

.Text-center {
  text-align: center;
}

.list-ul {
  padding: .5em 0;
  list-style-type: none;
}

.nav-button {
  display: flex;
  justify-content: space-around;
}